openapi: 3.0.0
info:
  version: "4.0.1"
  title: ONESPAN SIGN API
  termsOfService: 'https://www.onespan.com/terms-and-conditions'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  contact:
    name: API Support
    email: support@onespan.com
servers:
  - url: 'https://sandbox.esignlive.com'
    description: Sandbox
tags:
  - name: Account Custom Fields
  - name: Account Roles
  - name: Account Signing Logos
  - name: Account Signing Themes
  - name: Approvals
  - name: Authentication Tokens
  - name: Callback
  - name: Data Management
  - name: Documents
  - name: File Attachments
  - name: Groups
  - name: IDV Workflow Configuration
  - name: Layouts
  - name: Notifications
  - name: Packages
  - name: Password Policy
  - name: Reminders
  - name: Reports
  - name: Roles
  - name: Roles Verification
  - name: Senders
  - name: Sessions
  - name: Signing URL
  - name: Templates
  - name: Virtual Room
paths:
  /api/account/customfields:
    get:
      tags:
        - Account Custom Fields
      operationId: api.account.customFields.get
      summary: Retrieves all custom fields in an account.
      description: >-
        Retrieves all custom fields in an account. Custom fields can be sorted
        using pagination.
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/dir'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Account Custom Fields
      operationId: api.account.customFields.put
      summary: Updates an account custom field.
      description: >-
        Updates an account custom field with information specified in the
        parameters.
      requestBody:
        description: The custom field to be updated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Account Custom Fields
      operationId: api.account.customFields.post
      summary: Adds a custom field to an account.
      description: Adds a custom field to an account.
      requestBody:
        description: The custom field to be created.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/customfields/{customFieldId}':
    get:
      tags:
        - Account Custom Fields
      operationId: api.account.customFields._customFieldId.get
      summary: Retrieves an account specified custom field.
      description: Retrieves an account custom field by using the specified ID.
      parameters:
        - $ref: '#/components/parameters/customFieldId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: OK
        '400':
          description: Invalid field Id
    delete:
      tags:
        - Account Custom Fields
      operationId: api.account.customFields.delete
      summary: Deletes an account custom field by its ID.
      description: Deletes a custom field using the specified ID.
      parameters:
        - $ref: '#/components/parameters/customFieldId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/accessibleaccounts:
    get:
      tags:
        - SubAccounts
      operationId: api.account.accessibleaccounts.get
      summary: Retrieves a list of the subaccounts.
      description: >-
        The sub-accounts feature enables an organization to create child
        accounts within the organization's master account. For example, an
        organization might want to create child accounts on the basis of its
        departments, geographical locations, or lines of business. Accounts can
        be created on three levels (parent > child > grandchild), enabling an
        organization to manage many account types under its master account.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessibleAccountResponse'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/subaccountApiKeys:
    get:
      tags:
        - SubAccounts
      operationId: api.account.subaccountApiKeys.get
      summary: Retrieves a list of API keys for this current user in the subaccounts.
      description: >-
        Retrieves a list of API keys for this current user in the subaccounts.
        This current user should have User Management, Sub Account Management
        and Api Access permission in different sub account in order to get the
        Api Key.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubAccountApiKeys'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/subaccounts:
    get:
      tags:
        - SubAccounts
      operationId: api.account.subAccounts.get
      summary: Retrieves a list of the subaccounts.
      description: Retrieves a list of the accounts which is subaccount of current account.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - SubAccounts
      operationId: api.account.subAccounts.post
      summary: Creates a new subaccount for the current account.
      description: >-
        Sub-accounts enable an organization to create child accounts within the
        organization's master account. For example, an organization might want
        to create child accounts on the basis of its departments, geographical
        locations, or lines of business. Accounts can be created on three
        levels, parent, child, grandchild. This enables an organization to
        manage many account types under its master account.
      requestBody:
        description: The subAccount payload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubAccount'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/subaccounts/{accountId}':
    put:
      tags:
        - SubAccounts
      operationId: api.account.subAccounts.put
      summary: Updates a subAccount.
      description: Updates a subaccount with information specified in the parameters.
      parameters:
        - in: path
          name: accountId
          schema:
            type: string
          required: true
      requestBody:
        description: The subAccount to be updated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubAccount'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /api/passwordPolicy:
    get:
      tags:
        - Password Policy
      operationId: api.passwordPolicy.get
      summary: Retrieves the settings for a password policy.
      description: >-
        A password policy defines the settings that are to be used when creating
        a password for an account. For example, the following settings may be
        retrieved&#58; * The minimum number of days before a password can be
        changed * The number of passwords the system will store in its history *
        The number of days until the password expires * Whether or not a
        password expiry notification will be sent, and the number of days prior
        to sending the password * The minimum password length * Password
        requirements (minimum password length, special characters, etc.)
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordPolicy'
        '400':
          $ref: '#/components/responses/ValidationError'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Password Policy
      operationId: api.passwordPolicy.put
      summary: Updates the settings for a password policy.
      description: Updates the settings for a password policy.
      security:
        - ApiKeyAuth: []
      requestBody:
        description: Password policy settings
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordPolicy'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/senders:
    get:
      tags:
        - Senders
      operationId: api.account.senders.get
      summary: Retrieves a list of the users in an account.
      description: >-
        Retrieves a list of the users in an account. Optional query parameters
        can be used to filter the list. By default, only one sender is
        retrieved. To retrieve additional users you must modify the “to” and
        “from” parameters, where each number in the parameter corresponds to a
        user. For example: to = 3 from = 10 Will return users 3 to 10 in the
        user list.
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/dir'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultSenders'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Senders
      operationId: api.account.senders.post
      summary: Creates a new user in an account.
      description: Creates a new user in an account.
      requestBody:
        description: The account payload.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sender'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}':
    get:
      tags:
        - Senders
      operationId: api.account.senders._senderId.get
      summary: Retrieves detailed Account information about a user.
      description: Retrieves detailed Account information about a specified user.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Senders
      operationId: api.account.senders._senderId.post
      summary: Updates a Sender's details.
      description: Updates or modifies detail information for a specified Sender.
      parameters:
        - $ref: '#/components/parameters/senderId'
        - $ref: '#/components/parameters/rawSignatureCapture'
      requestBody:
        description: The custom field to be updated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sender'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Senders
      operationId: api.account.senders._senderId.delete
      summary: Deletes a Sender from the account.
      description: Deletes a specified Sender from an account.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/invite':
    post:
      tags:
        - Senders
      operationId: api.account.senders._senderId.invite.post
      summary: Invites a user to join the account.
      description: >-
        Sends an email invitation to a user. The user will receive an invitation
        link and a token identifying the account.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/password':
    post:
      tags:
        - Senders
      operationId: api.account.senders._senderId.password.post
      summary: Updates a Sender's password.
      description: >-
        Helps users update or change their account password. Users can only
        modify their own password.
      parameters:
        - $ref: '#/components/parameters/senderId'
        - $ref: '#/components/parameters/rawSignatureCapture'
      requestBody:
        description: The custom field to be updated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credentials'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/resetpassword':
    post:
      tags:
        - Senders
      operationId: api.account.senders._senderId.resetpassword.post
      summary: Resets the password for a specified user.
      description: 'Sends an email to a specified user, so that they can set a new password.'
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/delegates/{delegateId}':
    post:
      tags:
        - Delegates
      operationId: api.account.senders._senderId.delegates.delegateId.post
      summary: Adds delegates to a Sender.
      description: >-
        A delegate can: (1) access the delegator's inbox, drafts, layouts, and
        templates; (2) sign documents on behalf of the delegator.
      parameters:
        - $ref: '#/components/parameters/senderId'
        - $ref: '#/components/parameters/delegateId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Delegates
      operationId: api.account.senders._senderId.delegates.delegateId.delete
      summary: Deletes a delegate from a specified Sender.
      description: >-
        Deletes a delegate. The delegate will no longer be able to: (1) access
        the delegator's inbox, drafts, layouts, and templates; (2) sign
        documents on behalf of the delegator.
      parameters:
        - $ref: '#/components/parameters/senderId'
        - $ref: '#/components/parameters/delegateId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/signature/image':
    get:
      tags:
        - Senders
      operationId: api.account.senders._senderId.signature.image.get
      summary: Retrieves a user's default signature image.
      description: >-
        Retrieves the image that is being used by a recipient as their default
        signature when signing a transaction.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureImage'
        '400':
          $ref: '#/components/responses/ResourceNotFound'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Senders
      operationId: api.account.senders._senderId.signature.image.post
      summary: Uploads a default signature image.
      description: >-
        Uploads an image to be used by a recipient as their default signature
        when signing a transaction.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: The sample payload.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: The file to upload.
                  type: string
                  format: binary
              required:
                - file
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Senders
      operationId: api.account.senders._senderId.signature.image.delete
      summary: Deletes a user's default signature image.
      description: >-
        Deletes the image that is being used by a recipient as their default
        signature when signing a transaction.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/notaryCommission':
    get:
      tags:
        - Notary Commission
      operationId: api.account.senders._senderId.notaryCommission.get
      summary: Retrieves notary commission information for a sender.
      description: Retrieves notary commission information for a sender.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaryCommission'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Notary Commission
      operationId: api.account.senders._senderId.notaryCommission.put
      summary: Updates notary commission information for a sender.
      description: >-
        Updates notary commission information for a sender.

        To use this feature you must have Notary Management System enabled on
        your account.
      requestBody:
        description: Notary Commission payload.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotaryCommission'
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Notary Commission
      operationId: api.account.senders._senderId.notaryCommission.delete
      summary: Deletes notary commission information for a sender.
      description: Deletes notary commission information for a sender.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/notaryCommission/seal':
    get:
      tags:
        - Notary Commission
      operationId: api.account.senders._senderId.notaryCommission.seal.get
      summary: Retrieves the image of notary commission's seal for specified user.
      description: Retrieves the image of notary commission's seal for specified user.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaryCommissionSeal'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Notary Commission
      operationId: api.account.senders._senderId.notaryCommission.seal.deletes
      summary: Deletes the image of notary commission's seal for specified user.
      description: >-
        Uploads the image of notary commission's seal for specified user.

        To use this feature you must have Notary Management System enabled on
        your account.
      requestBody:
        description: The sample payload.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: The seal image to upload.
                  type: string
                  format: binary
              required:
                - file
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Notary Commission
      operationId: api.account.senders._senderId.notaryCommission.seal.delete
      summary: Deletes the image of notary commission's seal for specified user.
      description: Deletes the image of notary commission's seal for specified user.
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/delegates':
    get:
      tags:
        - Delegates
      operationId: api.account.senders._senderId.delegates.get
      summary: >-
        Retrieves a list of users who have been designated as delegates for a
        specified user.
      description: >-
        Retrieves a list of users who have been designated as delegates for a
        specified user. A delegate can: (1) access the delegator's inbox,
        drafts, layouts, and templates; (2) sign documents on behalf of the
        delegator. 
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Delegates
      operationId: api.account.senders._senderId.delegates.put
      summary: Adds delegates to a specified user.
      description: >-
        A delegate can&#58; (1) access the delegator's inbox, drafts, layouts,
        and templates; (2) sign documents on behalf of the delegator. <p>All
        currently existing delegates will be replaced with delegates provided in
        a request body</p> <p>Request body can have one of two formats:</p> <ul>
        <li>array of string</li> <li>array of DelegationUser</li> </ul>
        <p>Examples:</p> <p>* array of string</p> <code> [ "userUid1",
        "userUid2", "userUid3" ] </code> <p> * array of DelegationUser</p>
        <code> [ { "id"&#58; "userUid1", "expiryDate"&#58; "2020-05-30" }, {
        "id"&#58; "userUid2", "expiryDate"&#58; "2020-05-20" }, "userUid3" ]
        </code> <p>String with user UID only, like "userUid3" above, will be
        deserialized to DelegationUser.</p>
      parameters:
        - $ref: '#/components/parameters/senderId'
      requestBody:
        description: The custom field to be updated.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DelegationUser'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Delegates
      operationId: api.account.senders._senderId.delegates.delete
      summary: Deletes all delegates from a Sender.
      description: >-
        Deletes all delegates that have been specified for a Sender. Delegates
        will no longer be able to  (1) access the delegator's inbox, drafts,
        layouts, and templates; (2) sign documents on behalf of the delegator. 
      parameters:
        - $ref: '#/components/parameters/senderId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/layouts:
    get:
      tags:
        - Layouts
      operationId: api.layouts.get
      summary: Retrieves a list of available layouts.
      description: >-
        Retrieves a list of existing layouts. The list can be filtered and
        sorted by various criteria.

        By default, this call will return layouts of the API caller.

        When specifying either the ownerUserId or ownerEmail query parameter,
        this call will return the layouts of the specified user.

        To retrieve other users' layouts, you must have the Roles and
        Permissions feature enabled on your account and the API caller must have
        the Manage users’ transactions, templates, layouts permission.

        To enable Roles and Permissions, contact your OneSpan Sales
        Representative.
      parameters:
        - name: query
          description: 'The folder to search for. If not set, it will search in all folders.'
          in: query
          required: false
          schema:
            type: string
            enum:
              - drafts
              - inbox
              - trashed
        - name: type
          in: query
          description: 'If a template is needed, set to TEMPLATE.'
          required: false
          schema:
            type: string
            enum:
              - TEMPLATE
        - name: search
          in: query
          description: >-
            Any text which is going to be used in conjunction with the
            searchtype, if provided.
          required: false
          schema:
            type: string
        - name: searchtype
          in: query
          description: >-
            When empty, a wildcard search will be done in the layout name and
            description for the search value,  otherwise the allowable values
            will make more restrictive searches.
          required: false
          schema:
            type: string
            enum:
              - exact
              - exactname
        - name: visibility
          in: query
          description: The visibility used to search for the layout.
          required: false
          schema:
            type: string
            enum:
              - ACCOUNT
              - SENDER
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/dir'
        - name: sort
          in: query
          description: The field according to which the data will be sorted.
          required: false
          schema:
            type: string
            enum:
              - created
              - updated
              - name
        - name: summary
          in: query
          description: >-
            If set to true, the response contains just a summary of the layouts.
            Otherwise, the response contains the full objects.
          required: false
          schema:
            type: boolean
        - name: ownerUserId
          in: query
          description: >-
            The transaction owner user's ID. Indicate the target user to search
            on.
          required: false
          schema:
            type: string
        - name: ownerEmail
          in: query
          description: >-
            The transaction owner's email address. Indicate the target user to
            search on.
          required: false
          schema:
            type: string
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultLayouts'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Layouts
      operationId: api.layouts.post
      summary: Creates a new layout.
      description: Creates a new layout.
      requestBody:
        description: Layout information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageLayout'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json; esl-api-version=11:
              schema:
                $ref: '#/components/schemas/Package'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/groups:
    get:
      tags:
        - Groups
      operationId: api.groups.get
      summary: Retrieves a list of all Groups in an account.
      description: >-
        Retrieves a list of all groups in an Account. Results are returned as a
        list of groups, and not as a simple group. Note that results can be
        returned in a paginated form if the  'from', 'to' and 'dir' query
        parameters are used.
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/dir'
        - name: requestType
          in: query
          description: >-
            If the request type is manager, return only the groups that the
            request user is a manager of.
          required: false
          schema:
            type: string
            enum:
              - manager
        - name: name
          in: query
          description: The name of the groups to return
          required: false
          schema:
            type: string
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultGroups'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Groups
      operationId: api.groups.post
      summary: Creates a new Group using the specified parameters.
      description: 'If specified, the id must be alphanumeric, and unique.'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: Group information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/groups/summary:
    get:
      tags:
        - Groups
      operationId: api.groups.summary
      summary: Retrieves summaries for all groups in the current account.
      description: Retrieves basic information for all groups in the current account.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultGroupSummary'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/groups/{groupId}':
    get:
      tags:
        - Groups
      operationId: api.groups._groupId.get
      summary: Retrieves a Group.
      description: Retrieves detailed information about a specified group.
      parameters:
        - $ref: '#/components/parameters/groupId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid Group Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          description: The requested group could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Groups
      operationId: api.groups._groupId.put
      summary: Updates an existing Group.
      description: >-
        Updates the members that are included in a specified Group. Updates can
        include adding and removing members. Updates can also change other Group
        information.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      parameters:
        - $ref: '#/components/parameters/groupId'
      requestBody:
        description: Group information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: The group name is already in use.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          description: >-
            Operation not allowed. Only Managers of this Account or Group can
            update the Group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        '404':
          description: >-
            Either one of the members of the group could not be found in the
            system, or the requested group could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Groups
      operationId: api.groups._groupId.delete
      summary: Deletes an existing Group.
      description: Deletes an existing Group from the account.
      parameters:
        - $ref: '#/components/parameters/groupId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          description: Requested group could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/groups/{groupId}/invite':
    post:
      tags:
        - Groups
      operationId: api.groups._groupId.invite.post
      summary: Invites an existing sender to join the Group.
      description: Invites an existing account sender to join the Group.
      parameters:
        - $ref: '#/components/parameters/groupId'
      requestBody:
        description: Group information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid Group Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          description: Requested group could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/groups/{groupId}/members':
    post:
      tags:
        - Groups
      operationId: api.groups._groupId.members.post
      summary: Invites a new sender to the Group.
      description: >-
        Invites a sender who is not yet part of any account to join a group. The
        invitee will initially be prompted to register as an account sender.
      parameters:
        - $ref: '#/components/parameters/groupId'
      requestBody:
        description: The new group member.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMember'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: >-
            Either both the id and the email of the group member weren't
            provided, or the groupId is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          description: >-
            Either one of the members of the group could not be found in the
            system, or the requested group could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/signingThemes:
    get:
      tags:
        - Account Signing Themes
      operationId: api.account.signingThemes.get
      summary: Retrieves a customized signing theme.
      description: >-
        Retrieves a customized signing theme so that it can be used. A
        customized signing theme is a signing theme that was designed by your
        organization using, for example, your corporate branding.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningThemesConfig'
        '400':
          $ref: '#/components/responses/ResourceNotFound'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Account Signing Themes
      operationId: api.account.signingThemes.post
      summary: Create a customized signing theme.
      description: >-
        Creates a signing theme that uses the settings defined by you. A
        customized signing theme is a signing theme that was designed by your
        organization using, for example, your corporate branding.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: The sample Signing Themes payload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SigningThemesConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningThemesConfig'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Account Signing Themes
      operationId: api.account.signingThemes.put
      summary: Update an existing customized signing theme.
      description: >-
        Updates an existing customized signing theme. A customized signing theme
        is a signing theme that was designed by your organization using, for
        example, your corporate branding.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: The sample Signing Themes payload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SigningThemesConfig'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Account Signing Themes
      operationId: api.account.signingThemes.delete
      summary: >-
        Deletes a customized signing theme. A customized signing theme is a
        signing theme that was designed by your organization using, for example,
        your corporate branding.
      description: Delete a customized signing themes.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/admin/signingLogos:
    get:
      tags:
        - Account Signing Logos
      operationId: api.account.admin.signingLogos.get
      summary: Retrieves an account's Signing Ceremony logos.
      description: >-
        Retrieves an account's customized logo for use during the Signing
        Ceremony. In addition, the corresponding langauge for the account is
        also retrieved.
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningLogos'
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
    post:
      tags:
        - Account Signing Logos
      operationId: api.account.admin.signingLogos.post
      summary: 'Add, update or delete Signing Ceremony logos for an account.'
      description: >-
        Adds, updates or deletes an account's customized Signing Ceremony logos.
        To add or update a Signing Ceremony logo for a language, pass the Base
        64 decoded image (Data URI) with the language. <br> To delete all
        Singing Ceremony logos, provide empty {} request body. <br> <br> Note
        that <br> 1. The image has to be one of the following formats - jpeg,
        png, gif, bmp or svg. <br> 2. The maximum supported size for an image is
        1MB <br> 3. The recommended dimensions for a Signing Ceremony logo is
        258px X 40 px.
      requestBody:
        description: >-
          The customized Signing Ceremony Logos to be created or updated along
          with language.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SigningLogos'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
  /api/account/admin/signingUiOptions:
    get:
      tags:
        - Account Signing UI Options
      operationId: api.account.admin.signingUiOptions.get
      summary: Retrieves customized New Signer Experience settings.
      description: >-
        Retrieves customized New Signer Experience settings. Note that if there
        are no customized settings for the New Signer Experience then the
        default settings for the New Signer Experience will be returned.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningUiOptions'
        '400':
          $ref: '#/components/responses/ResourceNotFound'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      tags:
        - Account Signing UI Options
      operationId: api.account.signingUiOptions.put
      summary: Patch the customized Signing UI Option.
      description: Retrieves the customized Signing UI Options.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: The sample Signing UI Options payload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SigningUiOptions'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Account Signing UI Options
      operationId: api.account.admin.signingUiIptions.delete
      summary: Deletes customized New Signer Experience settings.
      description: >-
        Deletes customized New Signer Experience settings. Note that if there
        are no customized settings for the New Signer Experience then the
        default settings for the New Signer Experience will be returned.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/admin/accountSettings:
    get:
      tags:
        - Account Settings
      operationId: api.account.admin.accountSettings.get
      summary: Retrieves a list of all your current Backoffice Account settings.
      description: Retrieves your Backoffice Account settings.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfiguration'
        '400':
          $ref: '#/components/responses/ResourceNotFound'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      tags:
        - Account Settings
      operationId: api.account.accountSettings.put
      summary: >-
        Updates your Backoffice Account settings with any or all changes. This
        call can be used to implement either some of the settings that you wish
        to change, or to implement all of your changes.
      description: Update your Backoffice Account settings with your new settings.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: The sample Account Settings payload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConfiguration'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Account Settings
      operationId: api.account.admin.accountSettings.delete
      summary: Deletes and resets any customized Backoffice Account settings.
      description: >-
        Deletes any Backoffice Account settings that you may have changed. Your
        Backoffice settings will be returned to their default values.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/admin/accountSettings/packageSettings:
    get:
      tags:
        - Account Package Settings
      operationId: api.account.admin.accountSettings.packageSettings.get
      summary: Retrieves a list of all your current Backoffice Package settings.
      description: Retrieves your Backoffice Package settings.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPackageSettings'
        '400':
          $ref: '#/components/responses/ResourceNotFound'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      tags:
        - Account Package Settings
      operationId: api.account.accountSettings.packageSettings.put
      summary: >-
        Updates your Backoffice Package settings with any or all changes. This
        call can be used to implement either some of the settings that you wish
        to change, or to implement all of your changes.
      description: Update your Backoffice Package settings with your new settings.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: The sample Account Package Settings payload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPackageSettings'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Account Package Settings
      operationId: api.account.admin.accountSettings.packageSettings.delete
      summary: Deletes and resets any customized Backoffice Package settings.
      description: >-
        Deletes any Backoffice Package settings that you may have changed. Your
        Backoffice Package settings will be returned to their default values.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/admin/accountSettings/featureSettings:
    get:
      tags:
        - Account Feature Settings
      operationId: api.account.admin.accountSettings.featureSettings.get
      summary: Retrieves a list of all your current Backoffice Feature settings.
      description: Retrieves your Backoffice Feature settings.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFeatureSettings'
        '400':
          $ref: '#/components/responses/ResourceNotFound'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      tags:
        - Account Feature Settings
      operationId: api.account.accountSettings.featureSettings.put
      summary: >-
        Updates your Backoffice Feature settings with any or all changes. This
        call can be used to implement either some of the settings that you wish
        to change, or to implement all of your changes.
      description: Update your Backoffice Feature settings with your new settings.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: The sample Account Feature Settings payload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountFeatureSettings'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Account Feature Settings
      operationId: api.account.admin.accountSettings.featureSettings.delete
      summary: Deletes and resets any customized Backoffice Feature settings.
      description: >-
        Deletes any Backoffice Feature settings that you may have changed. Your
        Backoffice Feature settings will be returned to their default values.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/account/roles:
    get:
      tags:
        - Account Roles
      operationId: api.account.roles.get
      summary: Retrieves account role information for the current system account.
      description: >-
        Retrieves account role information, such as name and permissions, for
        the current system account. To use this call you must have Roles and
        Permissions enabled on your account. To enable Roles and Permissions
        contact your OneSpan Sales Representative.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultAccountRoles'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Account Roles
      operationId: api.account.roles.post
      summary: >-
        Creates a new account role for an account. To use this call you must
        have Roles and Permissions enabled on your account. To enable Roles and
        Permissions contact your OneSpan Sales Representative.
      description: >-
        Adds an account role to an account. To use this call you must have Roles
        and Permissions enabled on your account. To enable Roles and Permissions
        contact your OneSpan Sales Representative.
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      requestBody:
        description: The account role payload.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRoleWithoutId'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/roles/{accountRoleId}':
    put:
      tags:
        - Account Roles
      operationId: api.account.roles._accountRoleId.put
      summary: Updates an existing account role.
      description: >-
        Updates an account role. For example, to change permission settings, or
        role name. To use this call you must have Roles and Permissions enabled
        on your account. To enable Roles and Permissions contact your OneSpan
        Sales Representative.
      parameters:
        - $ref: '#/components/parameters/accountRoleId'
      requestBody:
        description: The account role data to be updated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRoleWithoutId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          content:
            application/json; esl-api-version=11:
              schema:
                $ref: '#/components/schemas/AccountRole'
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    get:
      tags:
        - Account Roles
      operationId: api.account.roles._accountRoleId.get
      summary: Retrieves an account role.
      description: >-
        Retrieves an account role by using the specified ID. To use this call
        you must have Roles and Permissions enabled on your account. To enable
        Roles and Permissions contact your OneSpan Sales Representative.
      parameters:
        - $ref: '#/components/parameters/accountRoleId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          content:
            application/json; esl-api-version=11:
              schema:
                $ref: '#/components/schemas/AccountRole'
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Account Roles
      operationId: api.account.roles._accountRoleId.delete
      summary: Deletes an account role.
      description: >-
        Deletes an account role using the specified ID. To use this call you
        must have Roles and Permissions enabled on your account. To enable Roles
        and Permissions contact your OneSpan Sales Representative.
      parameters:
        - $ref: '#/components/parameters/accountRoleId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/roles/{accountRoleId}/users':
    get:
      tags:
        - Account Roles
      operationId: api.account.roles._accountRoleId.users.get
      summary: Retrieves the list of user IDs assigned to a given role.
      description: >-
        Retrieves the list of user IDs assigned to a given role. To use this
        call you must have Roles and Permissions enabled on your account. To
        enable Roles and Permissions contact your OneSpan Sales Representative.
      parameters:
        - $ref: '#/components/parameters/accountRoleId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: >-
                  ["45a7e197f2d54b2797cc40787976e1b135353b920c58407d","b76c5c403dabb4e120a95ddfb385930a57c2586490784d98"]
          description: OK
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/account/senders/{senderId}/roles':
    get:
      tags:
        - Account Roles
      operationId: api.account.senders._senderId.roles.get
      summary: Retrieves the account roles assigned to the specified user.
      description: >-
        Retrieves the account roles assigned to the specified user. If the
        Subaccount feature is enabled, The API retrieves all user assigned
        subaccounts roles or specified subaccount roles if the accountUid is
        provided. To use this call you must have Roles and Permissions enabled
        on your account. To enable Roles and Permissions contact your OneSpan
        Sales Representative.
      parameters:
        - $ref: '#/components/parameters/senderId'
        - name: accountId
          in: query
          description: >-
            This parameter is used when subaccount feature enabled to get
            specified subaccount roles, if it's undefined, all user assigned
            subaccounts roles will be responsed.
          required: false
          schema:
            type: string
            example: ibwzXn69GF0J
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAccountRole'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Account Roles
      operationId: api.account.senders._senderId.roles.post
      summary: Assigns account roles to a user in specified account.
      description: >-
        Assigns account roles to a user. To use this call you must have Roles
        and Permissions enabled on your account. To enable Roles and Permissions
        contact your OneSpan Sales Representative.

        If your OSS Account has the Sub Accounts feature enabled, specify
        accountId in the post body, accountId is mandatory.
      parameters:
        - $ref: '#/components/parameters/senderId'
      requestBody:
        description: >-
          AccountId with Account Roles to be assigned to the user, AccountId and
          Role's id are mandatory.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAccountRole'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAccountRole'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /api/packages:
    get:
      tags:
        - Packages
      operationId: api.packages.get
      summary: Retrieves a list of packages.
      description: >-
        Retrieves a list of document packages in an account.

        By default, this call will return packages of the API caller.

        When specifying either the ownerUserId or ownerEmail query parameter,
        this call will return the transactions of the specified user.

        To retrieve other users' transactions, you must have the Roles and
        Permissions feature enabled on your account and the API caller must have
        the Manage users’ transactions, templates, layouts permission.

        To enable Roles and Permissions, contact your OneSpan Sales
        Representative.
      parameters:
        - name: query
          description: >-
            The folder to search for. If not set, it will search in all folders
            except trashed.
          in: query
          required: false
          schema:
            type: string
            enum:
              - drafts
              - inbox
              - trashed
        - name: type
          in: query
          description: 'If a template is needed, set to TEMPLATE'
          required: false
          schema:
            type: string
            enum:
              - TEMPLATE
        - $ref: '#/components/parameters/search'
        - name: searchtype
          in: query
          description: >-
            When empty, a wildcard search will be done in the package name and
            description for the search value, otherwise the allowable values
            will make more restrictive searches
          required: false
          schema:
            type: string
            enum:
              - exact
              - exactname
        - name: predefined
          description: 'Filter the search result, by package status'
          in: query
          required: false
          schema:
            type: string
            enum:
              - all
              - awaitingSignature
              - sent
              - completed
              - expiringSoon
        - name: visibility
          in: query
          description: >-
            The visibility used to search for the template. ONLY used for
            templates
          required: false
          schema:
            type: string
            enum:
              - ACCOUNT
              - SENDER
        - name: lastUpdatedStartDate
          in: query
          description: >-
            The date after which packages need to have been last updated in
            order to be retrieved. Accepted date formats are ISO 8601. 
            Examples: 2018-12-12Z, 2018-01-01T12:30:00Z,
            2018-01-01T12:30:00+01:30
          required: false
          schema:
            type: string
        - name: lastUpdatedEndDate
          in: query
          description: >-
            The date before which packages need to have been last updated in
            order to be retrieved. Accepted date formats are ISO 8601. 
            Examples: 2018-12-12Z, 2018-01-01T12:30:00Z,
            2018-01-01T12:30:00+01:30
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - name: sort
          in: query
          description: The field according to which the data will be sorted
          required: false
          schema:
            type: string
            enum:
              - created
              - completed
              - updated
              - due
              - name
              - status
        - $ref: '#/components/parameters/dir'
        - name: fields
          in: query
          description: >-
            Currently, "id" is the only available value. This means that only ID
            will be returned in each array node.
          schema:
            type: string
        - name: ownerUserId
          in: query
          description: The transaction owner's ID. Indicate the target user to search on.
          required: false
          schema:
            type: string
        - name: ownerEmail
          in: query
          description: >-
            The transaction owner's email address. Indicate the target user to
            search on.
          required: false
          schema:
            type: string
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultPackages'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Packages
      operationId: api.packages.post
      description: >-
        Creates a new package or a template. To create a template, set TYPE to
        TEMPLATE.
      summary: Creates a package.
      requestBody:
        description: >-
          Package initial information. It doesn't need to be fully filled.  It
          should contains at least 'name' property
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Package'
          multipart/form-data:
            schema:
              type: object
              properties:
                payload:
                  allOf:
                    - $ref: '#/components/schemas/Package'
                  description: >-
                    To create this request the JSON payload must contain a
                    Package object. An example of a JSON Package object can be
                    found in 'the application/json’ content-type tab. <br />
                    Note that it is not currently possible to preview a
                    multipart/data-form, due to an existing Swagger issue. For
                    more information, see:
                    [https://github.com/swagger-api/swagger-ui/issues/5169](https://github.com/swagger-api/swagger-ui/issues/5169).
                file:
                  type: array
                  description: >-
                    Files to attach. Form-data allows to attach multiple files.
                    All attached files should be specified in Payload inside
                    Package object as 'documents' array.
                  items:
                    type: string
                    format: binary
              required:
                - payload
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/PackageId'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}':
    get:
      tags:
        - Packages
      operationId: api.packages._packageId.get
      summary: Retrieves a specified package.
      description: Retrieves information about a single document package.
      parameters:
        - $ref: '#/components/parameters/packageId'
        - $ref: '#/components/parameters/rawSignatureCapture'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json; esl-api-version=11:
              schema:
                $ref: '#/components/schemas/Package'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Packages
      operationId: api.packages._packageId.post
      summary: Updates a package.
      description: Updates the information pertaining to a specified package.
      parameters:
        - $ref: '#/components/parameters/packageId'
      requestBody:
        description: >-
          Package initial information. It doesn't need to be fully filled. It
          should contain at least 'name' property
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Package'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Packages
      operationId: api.packages._packageId.delete
      summary: Deletes a package.
      description: Deletes a specified package or template.
      parameters:
        - $ref: '#/components/parameters/packageId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/audit':
    get:
      tags:
        - Packages
      operationId: api.packages._packageId.audit.get
      summary: Retrieves audit details about a package.
      description: >-
        Retrieves audit details about a package. The Audit Trail is embedded
        directly in the package, and can be viewed any time.
      parameters:
        - $ref: '#/components/parameters/packageId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportedAuditTrail'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExportedAuditTrail'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/clone':
    post:
      tags:
        - Packages
      operationId: api.packages._packageId.clone.post
      summary: Creates a package or template from an existing template or package.
      description: >-
        Creates a package or template from an existing package or template. To
        create a template, the "type" in the request body has to be set to
        "TEMPLATE".
      parameters:
        - $ref: '#/components/parameters/packageId'
      requestBody:
        description: >-
          In case of template, a new name field must be provided. You can
          overwrite any of the cloned package or template fields, by adding it
          to the JSON body following the Package structure. The owner of the new
          package is by default the request user. The owner of the new package
          can be specified by adding a sender object to the JSON body.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Package'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json; esl-api-version=11:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The new transaction id.
                    example: Esdfasd0sdf08gdfg3njkfg0345dg=
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/evidence/summary':
    get:
      tags:
        - Packages
      operationId: api.packages._packageId.evidence.summary.get
      summary: Retrieves an evidence summary.
      description: Retrieves Evidence Summary information for a specified package.
      parameters:
        - $ref: '#/components/parameters/packageId'
        - $ref: '#/components/parameters/utf8'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/pdf; esl-api-version=11:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/fieldSummary':
    get:
      tags:
        - Packages
      operationId: api.packages._packageId.fieldSummary.get
      summary: Retrieves a list of fields in a package.
      description: >-
        Retrieves a list of form fields in a package. Fields are grouped by
        document and by signer.
      parameters:
        - $ref: '#/components/parameters/packageId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldSummary'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/referencedConditions':
    get:
      tags:
        - Packages
      operationId: api.packages._packageId.referencedConditions.get
      summary: Retrieves a list of conditions for given package.
      description: >-
        Conditions determine if  senders can do the following within a single
        document&#58; (1) apply various conditions (e.g., required, optional,
        enabled, disabled) to signature and input fields; (2) configure
        conditional logic (i.e., specify that a condition applied to one field
        will impose certain conditions on other fields).
      parameters:
        - $ref: '#/components/parameters/packageId'
        - name: documentId
          description: The unique document id.
          in: query
          required: false
          schema:
            type: string
            example: 7fe707da80ed6347919b162eb05a63916028376dc991031f
        - name: fieldId
          in: query
          required: false
          schema:
            type: string
            example: zZCmIzF1U4U5
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferencedConditions'
        '400':
          $ref: '#/components/responses/ResourceNotFound'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/signers/{signerId}/approvals':
    get:
      tags:
        - Packages
      operationId: api.packages._packageId.signers._signerId.get
      summary: Retrieves all approvals for a signer in a package.
      description: 'Retrieves all approvals for a specified signer, in a specific package.'
      parameters:
        - name: packageId
          description: >-
            The unique package id.<br/>Note that when an unknown package id is
            provided, the API will return an empty list.
          in: path
          required: true
          schema:
            type: string
            example: asd0sdf08gdfg3njkfg0345dg=
        - name: signerId
          description: >-
            The unique signer id.<br/>Note that when an unknown signer id is
            provided, the API will return an empty list.
          in: path
          required: true
          schema:
            type: string
            example: lEuqLqc6ZzA6
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultRoles'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/signingStatus':
    get:
      tags:
        - Packages
      operationId: api.packages._packageId.signingStatus.get
      summary: Retrieves the signing status of a package.
      description: >-
        Retrieves the signing status of a package. Retrieved information can be
        filter by signer, or by document.
      parameters:
        - $ref: '#/components/parameters/packageId'
        - name: signer
          description: The unique signer id.
          in: query
          required: false
          schema:
            type: string
            example: d9f7a89a-4be4-4664-999e-e518ecb151fc
        - name: document
          description: The unique document id.
          in: query
          required: false
          schema:
            type: string
            example: 83bb52503092b368c6f227f790a8a7f566da8da3d6495cb5
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The package status.
                    example: COMPLETED
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{templateId}/bulk_send':
    post:
      tags:
        - Templates
      operationId: api.packages._packageId.bulk_send.post
      summary: Creates multiple packages.
      description: 'Creates and sends multiple packages, using a pre-defined template.'
      parameters:
        - $ref: '#/components/parameters/templateId'
      requestBody:
        description: CVS file containing the bulk.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: The CSV file to upload.
                  type: string
                  format: binary
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            text/html:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/roles':
    get:
      tags:
        - Roles
      operationId: api.packages._packageId.roles.get
      summary: Retrieves all roles for the package.
      description: Retrieves all roles for the package.
      parameters:
        - $ref: '#/components/parameters/packageId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultRoles'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - Roles
      operationId: api.packages._packageId.roles.post
      summary: Adds a new role.
      description: Adds a new role to an existing package.
      parameters:
        - $ref: '#/components/parameters/packageId'
      requestBody:
        description: >-
          The new role data. If the id field is not set, it will be generated by
          the system.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Roles
      operationId: api.packages._packageId.roles.put
      summary: Reorders the roles in a package.
      description: Reorders the roles in a specified package.
      parameters:
        - $ref: '#/components/parameters/packageId'
      requestBody:
        description: The list of every Role ID and its position within the list.
        required: true
        content:
          application/json:
            schema:
              type: array
              example: |-
                [
                  {"id":"03be29b9-9628-4401-8135-140b29c474dd","index":0},
                  {"id":"d23a7961-6fd8-46e3-b305-5483a23774ac","index":1}
                ]
              items:
                $ref: '#/components/schemas/RoleReordering'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ResultRoles'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/roles/{roleId}':
    get:
      tags:
        - Roles
      operationId: api.packages._packageId.roles._roleId.get
      summary: Retrieves a single role.
      description: Retrieves a single role associated with a package.
      parameters:
        - $ref: '#/components/parameters/packageId'
        - $ref: '#/components/parameters/roleId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Roles
      operationId: api.packages._packageId.roles._roleId.put
      description: >-
        Updates a single Role by overriding its existing values with those in
        the JSON payload.
      summary: Updates the roles in a package.
      parameters:
        - $ref: '#/components/parameters/packageId'
        - $ref: '#/components/parameters/roleId'
      requestBody:
        description: >-
          Role information. It doesn't need to be fully filled. It should
          contain only the properties you want to change.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - Roles
      operationId: api.packages._packageId.roles._roleId.delete
      description: Deletes a specified role.
      summary: Deletes a role.
      parameters:
        - $ref: '#/components/parameters/packageId'
        - $ref: '#/components/parameters/roleId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/roles/{roleId}/unlock':
    post:
      tags:
        - Roles
      operationId: api.packages._packageId.roles._roleId.unlock.post
      description: Unlocks a specified role.
      summary: Unlocks a role.
      parameters:
        - $ref: '#/components/parameters/packageId'
        - $ref: '#/components/parameters/roleId'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/api/packages/{packageId}/documents':
    post:
      tags:
        - Documents
      operationId: api.packages._packageId.documents.post
      summary: Adds a new document to an existing package.
      description: Adds a new document to an existing package by using a document resource.
      parameters:
        - $ref: '#/components/parameters/packageId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: The file to upload.
                  type: string
                  format: binary
                payload:
                  description: >-
                    This is a JSON payload which must contain a "Document" model
                    object. The only required field is 'name'.
                  type: object
                  example: '{"name":"NDA Document"}'
              required:
                - file
                - payload
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
      security:
        - ApiKeyAuth: []
        - ApiTokenAuth: []
      responses:
        '200':
          description: OK
          content:
            text/html; esl-api-version=11:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - Documents
      operationId: api.packages._packageId.documents.put
      summary: Reorders the documents in a package.
      description: Reorders the documents in a package.
      parameters:
        - $ref: '#/components/parameters/packageId'
      requestBody:
        description: The list of every Document ID and its position within the list.
        required: true
        content:
          application/json:
            schema:
              type: array
              example: "[\n\t{\"id\":\"default-consent\",\"index\":0},\n\t{\"id\":\"ae4899fd2f2cff1eca219508e2402abd2b0c79c4bde0a155\",\"index\":1},\n\t{\"id\":\"da7016d875cb609d1048d427391369e68bb55dcecedfa8ca\",\"index\":2}\n]"
[...]
